.world {
    position: relative;
    padding : 0px;
    margin : 0px;
    overflow: hidden;
}

.item {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}